.AdmGridCard {
    height: 75vh; 
    overflow-y: auto;
    padding-inline-end: 1rem;
    border-radius: 12px;
}

.Container-AdmCard {
    background-color: var(--colorGris);
    min-height: 150px; /* Altura mínima igual a la del Sidebar */
    align-items: stretch; /* Fuerza a las columnas hijos a igualar altura */
    margin: 0; /* Elimina márgenes no deseados */
    padding: 0; /* Elimina paddings no deseados */
}

/* Estilo para la columna del Sidebar */
.sidebar-col {
    padding: .5rem 0 ; /* Pequeño padding vertical si es necesario */
    max-width: 50px; /* Igual al ancho del Sidebar */
}

/* Estilo para la columna de la Card */
.card-col {
    padding: 0.5rem; /* Ajusta según necesidad */
    flex-grow: 1;
}