:root {
  --colorAzulOscuro: #003366;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

/* ORDENAR A LA IZQUIERDA */
.sortOptions {
  display: flex;
   gap: 0.5rem;
}

.sortButton {
  background-color: var(--colorAzulOscuro);
  color: white;
  border: none;
  padding: 6px 50px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}

/* CONTENIDO DERECHA */
.rightContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  width: 100%;
}

/* Botones superiores */
.topButtons {
  display: flex;
  gap: 1rem;
}

/* Buscador y categorías */
.bottomRow {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* Estilo campos */
.inputGroup {
  max-width: 300px;
  flex: 1;
}

.inputAzul {
  background-color: var(--colorAzulOscuro);
  color: white !important;
  border: none;
}

.dropdown {
  margin-left: 0;
}

.btnAzul {
  background-color: var(--colorAzulOscuro) !important;
  color: white !important;
  border: none !important;
}
